<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
  <label for="input">Type</label>
  <mat-form-field appearance="fill">
    <mat-label>Choose an option</mat-label>
    <mat-select [disabled]="disableSelect.value">
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2 </mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
